<div class="mobile-menu is-hidden" mobile-menu>
  <div class="menu">
    <button type="button" class="menu-close" data-close-menu>
      <svg class="menu-close__icon">
        <use href="./images/icons/symboldefs.svg#close"></use>
      </svg>
    </button>
    <nav class="menu-bg">
      <ul class="menu-list">
        <li class="menu-list__item">
          <a class="menu-list__link" href="#header">Home</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#made">How it's made?</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#products">Our products</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#top">Top sellers</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="menu-socials">
      <li class="menu-socials__item">
        <a href="#" class="menu-socials__link">
          <svg class="menu-socials__svg" width="20" height="20">
            <use href="./images/icons/symboldefs.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-socials__item">
        <a href="#" class="menu-socials__link">
          <svg class="menu-socials__svg" width="22" height="18">
            <use href="./images/icons/symboldefs.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
