<div class="backdrop-thanks is-hidden">
    <form class="thanks-modal">
        <div class="thanks-modal__top">
            <button class="thanks-modal__btn--close" data-close-thanks>
                <svg class="thanks-modal__svg">
                    <use href="./images/icons/symboldefs.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="thanks-modal__bottom">
            <h2 class="thanks-modal__title">thank you!</h2>
            <p class="thanks-modal__text">We are glad that you ordered our chocolate
                and we are giving you a 20% discount on all our products.
            <p>
        </div>
</div>
</form>
</div>