<div class="backdrop-feedback is-hidden">
    <div class="modal-feedback">
        <button class="modal-feedback__btn-close" type="button" data-close-feedback >
            <svg class="modal-feedback__svg-close">
                <use href="./images/icons/symboldefs.svg#close"></use>
            </svg>
        </button>
        <h2 class="modal-feedback__title">thank you <br>
            for your feedback!</h2>
            <p class="modal-feedback__text">We are so happy to hear from you!</p>
    </div>
</div>