<div class="backdrop-subscribe is-hidden" data-subscribe>
    <form class="subscribe-modal">
        <div class="subscribe-modal__top">
            <button class="subscribe-modal__btn--close" data-close-subscribe>
                <svg class="subscribe-modal__svg">
                    <use href="./images/icons/symboldefs.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="subscribe-modal__bottom">
            <h2 class="subscribe-modal__title">Explore our <br>
                <span class="subscribe-modal__title
                subscribe-modal__title--orange">new chocolate</span> first!
            </h2>
            <div class="subscribe-modal__left">
            <p class="subscribe-modal__text">
                <input type="text" class="subscribe-modal__input" placeholder="Enter your email">
                <a href="#" class="subscribe-modal__link"></a>
            </p>
            <button type="submit" class="subscribe-modal__btn--send">Submit</button>
            </div>
        </div>

    </form>
</div>