.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  & .subscribe-modal {
    transform: translate(-50%, -50%) scale(0);
  }
}
.backdrop-subscribe {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 1;
  transition: opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: getColors('white-color');
  border-radius: 15px;
  z-index: 5;
  width: 311px;
  height: 350px;
  @media screen and (min-width: 768px) {
    width: 538px;
    height: 412px;
  }
  &__top {
    background-image: url('../images/2modal-explore-tablet.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 169px;
    @media screen and (min-width: 768px) {
      background-image: url('../images/2modal-explore-desktop.jpg');
      height: 196px;
    }
  }
  &__bottom {
    padding: 32px 24px;
    @media screen and (min-width: 768px) {
      padding: 40px;
    }
  }
  &__left {
    display: flex;
    gap: 8px;
  }
  &__text {
    width: 313px;
  }
  &__btn--close {
    background-color: inherit;
    border: none;
  }
  &__title {
    @include text(20px, 600, 24px, -0.03em, left);
    text-transform: uppercase;
    width: 263px;
    margin-bottom: 28px;
    color: getColors('black-color');
    @media screen and (min-width: 768px) {
      @include text(24px, 600, 28px, -0.03em, left);
      width: 298px;
    }
    &--orange {
      color: getColors('orange-color');
    }
  }
  &__svg {
    fill: getColors('white-color');
    width: 14px;
    height: 14px;
    position: absolute;
    cursor: pointer;
    top: 31px;
    right: 31px;
  }
  &__svg:hover {
    fill: getColors('orange-color');
  }
  &__input {
    padding: 18px 114px 18px 14px;
    width: 263px;
    border: none;
    position: absolute;
    @media screen and (min-width: 768px) {
      padding: 14px 24px;
    }
  }
  &__link {
    color: rgba(64, 64, 64, 0.3);
    @include text(18px, 400, 22px, -0.02em, left);
  }
  &__btn--send {
    position: relative;
    top: 3.5px;
    left: 0;
    display: block;
    padding: 14px 22px;
    background-color: getColors('orange-color');
    color: getColors('white-color');
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: color, background-color, 320ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: getColors('orange-color');
      background-color: getColors('violet-color');
    }
    @include text(14px, 600, 17px, 0%, left);
    @media screen and (min-width: 768px) {
      padding: 16px 42px;
    }
  }
}
