<footer class="footer">
    <div class="container">
            <h2 class="footer-title"><span class="footer-title--orange">Chocolate</span> a delicious cure for a bad day</h2>
        <ul class="footer-contacts">
            <li class="footer-contacts__item">
                <h5>Contact us</h5>
            </li>
            <li class="footer-contacts__item">
                <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li class="footer-contacts__item">
                <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
        </ul>
        <ul class="footer-socials">
            <li class="footer-socials__item">
                <svg class="footer-socials__svg" width="24" height="24">
                    <use href="#"></use>
                </svg>
            </li>
            <li class="footer-socials__item">
                <svg class="footer-socials__svg" width="24" height="24">
                    <use href="#"></use>
                </svg>
            </li>
        </ul>
        <nav class="footer-nav">
            <ul class="footer-nav__list">
                <li class="footer-nav__list-item">
                    <a href="#header">Home</a>
                </li>
                <li class="footer-nav__list-item">
                    <a href="#made">How it’s made?</a>
                </li>
                <li class="footer-nav__list-item">
                    <a href="#products">Our products</a>
                </li>
                <li class="footer-nav__list-item">
                    <a href="#top">Top sellers</a>
                </li>
                <li class="footer-nav__list-item">
                    <a href="#reviews">Chocolate is loved</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>