<header class="header">
  <div class="container">
    <a class="logo">
      <span class="logo logo__span">SIMPLY</span>
      CHOCOLATE
      <svg class="logo__svg">
        <use></use>
      </svg>
    </a>
    <ul class="nav-list">
      <li class="nav-list__item">
        <a class="nav-list__link" id="home" href="#home">Home</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#made">How it's made?</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#products">Our products</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#top">Top sellers</a>
      </li>
      <li class="nav-list__item">
        <a class="nav-list__link" href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
    <nav class="nav-socials">
      <li class="nav-socials__item">
        <svg class="nav-socials__svg">
          <use></use>
        </svg>
      </li>
      <li class="nav-socials__item">
        <svg class="nav-socials__svg">
          <use></use>
        </svg>
      </li>
    </nav>
  </div>
</header>
