<header class="header">
  <div class="container">
    <a class="logo">
      <span class="logo logo__span">SIMPLY</span>
      CHOCOLATE
      <svg class="logo__svg">
        <use></use>
      </svg>
    </a>
    <nav class="nav-header">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link" id="home" href="#home">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#made">How it's made?</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#products">Our products</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#top">Top sellers</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="header-socials">
      <li class="header-socials__item">
        <a href="#" class="header-socials__link">
          <svg class="header-socials__svg">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="nav-socials__item">
        <a href="#" class="header-socials__link">
          <svg class="header-socials__svg">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>