<section class="hero">
    <div class="container">
      <div class="hero__introduction">
        <h1 class="hero__title">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h1>
        <div class="hero__buttons">
          <button type="button" class="hero-button hero-button--buy">
            Buy now
          </button>
          <button type="button" class="hero-button hero-button--made">
            How it's made
          </button>
        </div>
      </div>
      <div class="hero-scroll">
        <p class="hero-scroll__text">scroll down</p>
        <svg class="hero-scroll__svg">
          <use></use>
        </svg>
      </div>
    </div>
  </section>