<section class="hero" id="hero">
  <div class="container">
    <div class="hero-bg">
      <div class="hero-introduction">
      <h1 class="hero__title">
        Treat yourself or a loved one to our finest ingredients for a moment
        of pure delight!
      </h1>
        <ul class="hero-buttons">
          <li class="hero-buttons__item">
            <button
              type="button"
              class="hero-buttons__btn hero-buttons__btn--buy"
              data-open-buy
            >
              Buy now
            </button>
          </li>
          <li class="hero-buttons__item">
            <button
              type="button"
              class="hero-buttons__btn hero-buttons__btn--made"
            >
            <a href="#made" class="hero-buttons__link">
              How it's made</a>
            </button>
          </li>
        </ul>
        <a class="hero-scroll" href="#footer"
          >scroll down
          <div class="hero-scroll__circle">
            <svg class="hero-scroll__svg" width="13" height="6">
              <use href="./images/icons/symboldefs.svg#checkmark"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>