<section id="made" class="made">
    <div class="container">
        <h2 class="made__title"> HOW IT’S <span class="made__title made__title--orange">MADE?</span> </h2>
        <div class="made-content">
        <div class="made-video-container">
        <iframe class="made-video-container__video" src="https://www.youtube.com/embed/iAhe_R8QLmA" title="Roshen. Технології, що служать емоціям. Якість, що дарує радість!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
        <article class="made-article">
            <h3 class="made-article__title">Try  our chocolates today and discover the perfect balance of flavor</h3>
        <ul class="made-list">
            <li class="made-list__information">
                <p class="made-list__description">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</p>
            </li>
            <li class="made-list__information">
                <p class="made-list__description">At the same time, prepare a water bath. Melt the butter on it.</p>
            </li>
            <li class="made-list__information">
                <p class="made-list__description">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p>
            </li>
            <li class="made-list__information">
                <p class="made-list__description">Heat the mixture over low heat, letting it barely boil.</p>
            </li>
            <li class="made-list__information">
                <p class="made-list__description">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</p>
            </li>
        </ul>
    </article>
    </div>
    </div>
</section>