<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <section class="made">
            <div class="container">
                <h2 class="made__title">HOW IT’S MADE?</h2>
                <ul class="made-list">
                    <li class="made-list__information">
                        <h3 class="made-list__title">Try  our chocolates today and discover the perfect balance of flavor</h3>
                        <article class="made-article">
                        <iframe width="600" height="400" src="https://www.youtube.com/embed/iAhe_R8QLmA" title="Roshen. Технології, що служать емоціям. Якість, що дарує радість!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </article>
                    </li>
                    <li class="made-list__information">
                        <p class="made-list__description">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</p>
                    </li>
                    <li class="made-list__information">
                        <p class="made-list__description">At the same time, prepare a water bath. Melt the butter on it.</p>
                    </li>
                    <li class="made-list__information">
                        <p class="made-list__description">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p>
                    </li>
                    <li class="made-list__information">
                        <p class="made-list__description">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p>
                    </li>
                    <li class="made-list__information">
                        <p class="made-list__description">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>