<section class="products" id="products">
    <div class="container">
        <h2 class="products__title">OUR <span class="products__title products__title--orange">PRODUCTS</span></h2>
        <div class="swiper products-slider">
            <ul class="products-list swiper-wrapper">
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="./images/img/products1-desktop.jpg"
                        srcset="./images/img/products1-desktop.jpg 1x, ./images/img/products1-desktop@2x.jpg 2x"
                        alt="ORANGE">
                    <h3 class="products-list__name">ORANGE</h3>
                    <p class="products-list__species">Dark chocolate</p>
                    <button class="products-list__button" type="button" data-open-buy>45 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="./images/img/products2-desktop.jpg"
                        srcset="./images/img/products2-desktop.jpg 1x, ./images/img/products2-desktop@2x.jpg 2x"
                        alt="APPLE&CRANBERRY">
                    <h3 class="products-list__name">APPLE&CRANBERRY</h3>
                    <p class="products-list__species">Milk chocolate</p>
                    <button class="products-list__button" type="button" data-open-buy>50 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="./images/img/products3-desktop.jpg"
                        srcset="./images/img/products3-desktop.jpg 1x, ./images/img/products3-desktop@2x.jpg 2x"
                        alt="LIME&SEA SALT">
                    <h3 class="products-list__name">LIME&SEA SALT</h3>
                    <p class="products-list__species">Dark chocolate</p>
                    <button class="products-list__button" type="button" data-open-buy>66 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="./images/img/products4-desktop.jpg"
                        srcset="./images/img/products4-desktop.jpg 1x, ./images/img/products4-desktop@2x.jpg 2x"
                        alt="PINEAPPLE">
                    <h3 class="products-list__name">PINEAPPLE</h3>
                    <p class="products-list__species">Dark chocolate</p>
                    <button class="products-list__button" type="button" data-open-buy>54 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="./images/img/products5-desktop.jpg"
                        srcset="./images/img/products5-desktop.jpg 1x, ./images/img/products5-desktop@2x.jpg 2x"
                        alt="CLASSIC">
                    <h3 class="products-list__name">CLASSIC</h3>
                    <p class="products-list__species">Milk chocolate</p>
                    <button class="products-list__button" type="button" data-open-buy>45 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="./images/img/products6-desktop.jpg"
                        srcset="./images/img/products6-desktop.jpg 1x, ./images/img/products6-desktop@2x.jpg 2x"
                        alt="HONEY">
                    <h3 class="products-list__name">HONEY</h3>
                    <p class="products-list__species">Milk chocolate</p>
                    <button class="products-list__button" type="button" data-open-buy>50 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="./images/img/products7-desktop.jpg"
                        srcset="./images/img/products7-desktop.jpg 1x, ./images/img/products7-desktop@2x.jpg 2x"
                        alt="ROASTED FRUITS">
                    <h3 class="products-list__name">ROASTED FRUITS</h3>
                    <p class="products-list__species">Dark chocolate</p>
                    <button class="products-list__button" type="button" data-open-buy>66 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="./images/img/products8-desktop.jpg"
                        srcset="./images/img/products8-desktop.jpg 1x, ./images/img/products8-desktop@2x.jpg 2x"
                        alt="CLASSIC">
                    <h3 class="products-list__name">CLASSIC</h3>
                    <p class="products-list__species">White chocolate</p>
                    <button class="products-list__button" type="button" data-open-buy>54 UAH</button>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>