<section class="products" id="products">
    <div class="container">
        <h2 class="products__title">OUR <span class="products__title--orange">PRODUCTS</span></h2>
        <div class="swiper products-slider">
            <ul class="products-list swiper-wrapper">
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="#" srcset="1x, 2x" alt="ORANGE">
                    <h5 class="products-list__name">ORANGE</h5>
                    <p class="products-list__species">Dark chocolate</p>
                    <button class="products-list__button" type="button">45 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="#" srcset="1x, 2x" alt="APPLE&CRANBERRY">
                    <h5 class="products-list__name">APPLE&CRANBERRY</h5>
                    <p class="products-list__species">Milk chocolate</p>
                    <button class="products-list__button" type="button">50 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="#" srcset="1x, 2x" alt="LIME&SEA SALT">
                    <h5 class="products-list__name">LIME&SEA SALT</h5>
                    <p class="products-list__species">Dark chocolate</p>
                    <button class="products-list__button" type="button">66 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="#" srcset="1x, 2x" alt="PINEAPPLE">
                    <h5 class="products-list__name">PINEAPPLE</h5>
                    <p class="products-list__species">Dark chocolate</p>
                    <button class="products-list__button" type="button">54 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="#" srcset="1x, 2x" alt="CLASSIC">
                    <h5 class="products-list__name">CLASSIC</h5>
                    <p class="products-list__species">Milk chocolate</p>
                    <button class="products-list__button" type="button">45 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="#" srcset="1x, 2x" alt="HONEY">
                    <h5 class="products-list__name">HONEY</h5>
                    <p class="products-list__species">Milk chocolate</p>
                    <button class="products-list__button" type="button">50 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="#" srcset="1x, 2x" alt="ROASTED FRUITS">
                    <h5 class="products-list__name">ROASTED FRUITS</h5>
                    <p class="products-list__species">Dark chocolate</p>
                    <button class="products-list__button" type="button">66 UAH</button>
                </li>
                <li class="products-list__item swiper-slide">
                    <img class="products-list__img" src="#" srcset="1x, 2x" alt="CLASSIC">
                    <h5 class="products-list__name">CLASSIC</h5>
                    <p class="products-list__species">White chocolate</p>
                    <button class="products-list__button" type="button">54 UAH</button>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>