<section class="reviews">
    <div class="container">
        <h2 class="reviews__title__chocolate">CHOCOLATE <span class="reviews__title__chocolate--isloved">IS LOVED</span></h2>
        <div class="swiper reviews-slider">
        <ul class="reviews-list swiper-wrapper">
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" alt="Victoria Dobrzhanska" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Victoria Dobrzhanska</h3>
                    <p class="reviews-list__text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </div>
            </li>
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" alt="Nazar Babenko" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Nazar Babenko</h3>
                    <p class="reviews-list__text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                </div>
            </li>
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" alt="Natalia Sus" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Natalia Sus</h3>
                    <p class="reviews-list__text"> The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>
                </div>
            </li>
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" alt="Danilo Nottingham" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Danilo Nottingham</h3>
                    <p class="reviews-list__text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
                </div>
            </li>
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" alt="Irina Tydnyuk" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Irina Tydnyuk</h3>
                    <p class="reviews-list__text"> This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p>
                </div>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
        </div>
        <div class="reviews-dots">
            <svg class="reviews-dots__rectangle">
                <use href="#"></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use href="#"></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use href="#"></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use href="#"></use>
            </svg>
        </div>
        <button class="reviews__btn" type="button">Leave a review</button>
    </div>
</section>
<!-- <section class="reviews">
    <div class="container">
        <h2 class="reviews__title__chocolate">CHOCOLATE <span class="reviews__title__chocolate--isloved">IS LOVED</span></h2>
        <div class="swiper reviews-slider">
        <ul class="reviews-list swiper-wrapper">
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" srcset="" alt="Victoria Dobrzhanska" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Victoria Dobrzhanska</h3>
                    <p class="reviews-list__text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </div>
            </li>
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" srcset="" alt="Nazar Babenko" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Nazar Babenko</h3>
                    <p class="reviews-list__text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                </div>
            </li>
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" srcset="" alt="Natalia Sus" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Natalia Sus</h3>
                    <p class="reviews-list__text"> The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p>
                </div>
            </li>
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" srcset="" alt="Danilo Nottingham" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Danilo Nottingham</h3>
                    <p class="reviews-list__text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
                </div>
            </li>
            <li class="reviews-list__item swiper-slide">
                <div class="reviews-list__thumb">
                    <img src="#" srcset="" alt="Irina Tydnyuk" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Irina Tydnyuk</h3>
                    <p class="reviews-list__text"> This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p>
                </div>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
        </div>
        <div class="reviews-dots">
            <svg class="reviews-dots__rectangle">
                <use></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use></use>
            </svg>
        </div>
        <button class="reviews__btn" type="button">Leave a review</button>
    </div>
</section> -->