<section class="reviews">
    <div class="container">
        <h2 class="reviews__title__chocolate">CHOCOLATE <span class="reviews__title__chocolate--isloved">IS LOVED</span></h2>
        <ul class="reviews-list">
            <li class="reviews-list__item">
                <div class="reviews-list__thumb">
                    <img src="" alt="Victoria Dobrzhanska" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Victoria Dobrzhanska</h3>
                    <p class="reviews-list__text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </div>
            </li>
            <li class="reviews-list__item">
                <div class="reviews-list__thumb">
                    <img src="" alt="Nazar Babenko" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Nazar Babenko</h3>
                    <p class="reviews-list__text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                </div>
            </li>
            <li class="reviews-list__item">
                <div class="reviews-list__thumb">
                    <img src="" alt="Olena Kampusch" class="reviews-list__image" width="80">
                    <h3 class="reviews-list__title">Olena Kampusch</h3>
                    <p class="reviews-list__text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
                </div>
            </li>
        </ul>
        <div class="reviews-dots">
            <svg class="reviews-dots__rectangle">
                <use></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use></use>
            </svg>
            <svg class="reviews-dots__elipse">
                <use></use>
            </svg>
        </div>
        <button class="reviews__btn">Leave a review</button>
    </div>
</section>