<section class="subscribe">
    <div class="container">
        <h2 class="subscribe__title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
        <p class="subscribe__text">
            From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.
        </p>
        <button type="button" class="subscribe__btn">Subscribe</button>

    </div>
</section>
<div class="backdrop is-hidden" data-modal>
    <form class="modal">
        <button class="modal__btn-close" data-modal-close></button>
        <svg class="modal__svg-close">
            <use href="./"></use>
        </svg>
    </button>
    <h3 class="modal__title">BUY NOW</h3>
    <li class="modal-list">
            <div class="modal-list__thumb">
                <picture>
                    <source srcset="./">    
                    <source srcset="./">    
                    <source srcset="./">    
                </picture>
            </div>
            <label for="name" class="modal-list__name">Name
                
            </label>
    </li>

    </form>
</div>