<section class="top">
    <div class="container">
        <h2 class="top__title">TOP SELLERS</h2>
        <ul class="top-list">
            <li class="top-list__item">
                <picture>
                    <source srcset="">
                    <img src="" alt="#" class="top-list__img">
                </picture>
            </li>
            <li class="top-list__item">
                <picture>
                    <source srcset="">
                    <img src="" alt="#" class="top-list__img">
                </picture>
            </li>

            <li class="top-list__item">
                <picture>
                    <source srcset="">
                    <img src="#" alt="Notebook" class="top-list__img">
                </picture>
            </li>
        </ul>
        <p class="top-list__text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button type="button" class="top-list__btn">Buy now</button>
        
    </div>
</section>