.header {
  background-color: getColors('background-color');
  padding: 18px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    @include text(14px, 700, 129%, -0.03em, left);
    color: getColors('black-color');
    display: flex;
    align-items: center;
    gap: 2px;
    transition: transform 0.7s ease;
    @media screen and (min-width: 1200px) {
      @include text(18px, 700, 111%, -0.03em, left);
    }
    &__span {
      font-style: italic;
    }
    &__svg {
      fill: getColors('orange-color');
      @media screen and (min-width: 1200px) {
        width: 20px;
        height: 22px;
      }
    }
    &:hover,
    &:focus {
      transition: transform 0.7s ease;
      transform: scale(0.8);
    }
  }
  .navigation {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 138px;
      align-items: center;
    }
  }
  .nav-header {
    .nav-list {
      display: flex;
      align-items: center;
      gap: 24px;
      &__item {
        position: relative;
      }
      &__link {
        @include text(14px, 500, 114%, -0.02em, left);
        color: getColors('black-color');
        transition: color 320ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: getColors('orange-color');
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 24px;
          width: 0;
          height: 1px;
          background-color: getColors('orange-color');
          transition: width 320ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &:hover::after,
        &:focus::after {
          width: 50%;
        }
      }
    }
  }
  &-socials {
    display: flex;
    gap: 20px;
    &__svg {
      stroke-width: 2px;
      fill: getColors('black-color');
      transition: transform, color, 0.7s ease;
      &:hover,
      &:focus {
        fill: getColors('orange-color');
        transform: scale(1.5);
      }
    }
  }
  &-bg-menu {
    display: block;
    background-color: transparent;
    border: none;
    @media screen and (min-width: 1200px) {
      display: none;
    }
    &__svg {
      transition: transform 0.7s ease;
      &:hover,
      &:focus {
        fill: getColors('orange-color');
        transform: scale(0.8);
      }
    }
  }
}
