.hero {
  padding: 0 0 72px;
  background-color: getColors('background-color');
  &-bg {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    background-image: url('../images/img/header-bkg-phone.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/img/header-bkg-phone@2x.jpg');
    }
    @media screen and (min-width: 768px) {
      background-image: url('../images/img/header-bkg-tablet.jpg');
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 2/1),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/img/header-bkg-tablet@2x.jpg');
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url('../images/img/header-bkg-desktop.jpg');
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (-o-min-device-pixel-ratio: 2/1),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/img/header-bkg-desktop@2x.jpg');
      }
    }
  }
  &__title {
    max-width: 484px;
    color: getColors('white-color');
    @include text(28px, 500, 121%, -0.03em, left);
  }
  &-introduction {
    padding: 380px 31px 18px;
    display: flex;
    flex-direction: column;
  }
  &-buttons {
    display: flex;
    gap: 13px;
    padding: 31px 0;
    @media screen and (min-width: 768px) {
      padding-bottom: 22px;
    }
    &__btn {
      font-weight: 600;
      font-size: 14px;
      padding: 11px 27px;
      cursor: pointer;
      transition: background-color, border, 320ms cubic-bezier(0.4, 0, 0.2, 1);
      &--buy {
        @include btn($pad: 12px 28px);
        border: 1px solid #fff;
        border: none;
        &:hover,
        &:focus {
          color: getColors('orange-color');
          background-color: getColors('background-button');
        }
      }
      &--made {
        @include btn($bg-color: transparent, $pad: 12px 28px);
        border: 1px solid #fff;
        &:hover,
        &:focus {
          color: getColors('orange-color');
          border: 1px solid getColors('orange-color');
          background-color: getColors('white-color');
          .hero-buttons__link {
            color: getColors('orange-color');
          }
        }
      }
    }
    &__link {
      transition: color 320ms cubic-bezier(0.4, 0, 0.2, 1);
      color: getColors('white-color');
    }
  }
  &-scroll {
    display: flex;
    align-items: center;
    gap: 14px;
    transition: color 0.7s ease;
    color: getColors('white-color');
    &:hover,
    &:focus {
      color: getColors('orange-color');
      .hero-scroll__circle {
        background-color: getColors('orange-color');
      }
      .hero-scroll__svg {
        fill: getColors('white-color');
      }
    }
    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: 39;
      right: 39;
    }

    &__circle {
      border-radius: 50%;
      background-color: getColors('white-color');
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.7s ease;
    }
    &__svg {
      transition: fill 0.7s ease;
      fill: getColors('orange-color');
    }
  }
}
