.made{
    padding: 72px 0;
    background-color: getColors('background-color');
    @media (min-width: 768px) {
        padding: 100px 0;
    }
    @media (min-width: 1200px) {
        padding: 128px 0;
    }
}
.made .conntainer{
    @include flex(row);
    @media (min-width: 1200px) {
        @include flex(column, $justify:space-between);
    }
}
.made__title{
    @include text(20px, 600, 1.20, -0.03em, $text-align:center);
text-transform: uppercase;
margin: 0 0 32px;
@media (min-width: 768px) {
    @include text(24, 600, 1.17,$text-align:center);
    margin: 0 0 50px;
}
&--orange{
    color: getColors('orange-color');
}
}
.made-content{
    @include flex(column, $align:center, $justify:center);
    gap: 20px;
    @media (min-width: 1200px) {
        @include flex($wrap: row);
    }
}
.made-video-container{
    width: 335px;
    border-radius: 15px;
height: 500px;
overflow: hidden;
@media (min-width: 768px) {
    width: 614px;
    height: 400px;
}
@media (min-width: 1200px) {
    width: 600px;}
}
.made-video-container__video{
    width: 100%;
    height: 100%;
}
.made-article{
    @include flex(column, $justify: space-between);
     background-color: getColors('white-color');
     border-radius: 15px;
     padding: 20px 14px;
     @media (min-width: 768px) {
        padding: 32px 32px;
        margin: 0 auto;
        max-width: 614px;
        width: 100%;
     }
     @media (min-width: 1200px) {
        max-width: 516px;
     }
     &__title{
        max-width: 307px;
        text-align: start;
        @include text(18px, 600, 1.33);
    margin-bottom: 20px;
    @media (min-width: 768px) {
        max-width: 350px;
        margin-bottom: 28px;
    }
    }
}
.made-list{
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 307px;
    list-style-type: disc;
    @media (min-width: 768px) {
        max-width: 490px;
    }
    @media (min-width: 1200px) {
       max-width: 430px; 
    }
    &__description{
        @include text(14px, 400, 1.29, -0.02em);
    @media (min-width: 1200px) {
        max-width: 409px;
    }
    }
}