.products .swiper {
  height: 420px;
  @media screen and (min-width: 768px) {
    height: 422px;
  }
}
.products {
  background-color: getColors('background-color');
  padding: 72px 0;
  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.17;
    text-align: center;
    color: getColors('black-color');
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 50px;
    }
    &--orange {
      color: getColors('orange-color');
    }
  }
}
.products-list {
  &__item {
    @include flex(column, nowrap, center, center);
    max-width: 335px;
    max-height: 364px;
    background-color: getColors('white-color');
    padding: 32px 52px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    @media screen and (min-width: 768px) {
      max-width: 270px;
      padding: 32px 20px;
    }
    &__img {
      width: 230px;
      height: 201px;
      margin-bottom: 8px;
    }
    &__name {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.33;
      color: getColors('black-color');
      margin-bottom: 2px;
    }
    &__species {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: -0.02em;
      color: rgba(17, 17, 17, 0.7);
      margin-bottom: 18px;
    }
    &__button {
      background-color: getColors('background-color');
      color: getColors('black-color');
      font-size: 14px;
      font-weight: 600;
      border: none;
      border-radius: 15px;
      padding: 8px 20px;
      cursor: pointer;
    }
  }
}
