.products .swiper {
  height: 420px;
  @media screen and (min-width: 768px) {
    height: 422px;
  }
}
.products {
  background-color: getColors('background-color');
  padding: 72px 0;
  &__title {
    @include text(20px, 600, 1.17, -0.03em, center);
    color: getColors('black-color');
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 50px;
    }
    &--orange {
      color: getColors('orange-color');
    }
  }
}
.products-list {
  &__item {
    @include flex(column, nowrap, center, center);
    max-width: 335px;
    max-height: 364px;
    background-color: getColors('white-color');
    padding: 32px 52px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    @media screen and (min-width: 768px) {
      max-width: 270px;
      padding: 32px 20px;
    }
    &__img {
      width: 230px;
      height: 201px;
      margin-bottom: 8px;
    }
    &__name {
      @include text(18px, 600, 1.33, -0.02em, center);
      color: getColors('black-color');
      margin-bottom: 2px;
    }
    &__species {
      @include text(12px, 400, 1.17, -0.02em, center);
      color: rgba(17, 17, 17, 0.7);
      margin-bottom: 18px;
    }
    .products-list__button {
      background-color: getColors('background-color');
      color: getColors('black-color');
      @include text(14px, 600, 1.17, -0.02em, center);
      border: none;
      border-radius: 15px;
      padding: 8px 20px;
      cursor: pointer;
    }
  }
}
