.swiper {
    height: 288px;
    @media screen and (min-width: 1200px) {
      height: 297px;
    }
  }
  .reviews{
            padding: 72px 0;
            text-align: center;
            background-color: getColors('background-color');
            @media (min-width: 768px) {
                padding: 100px 0;
            }
            @media (min-width: 1200px) {
                padding: 128px 0;
            }
            &__title{
                @include text(20px, 600, 1.20, -0.03em, center);
            text-transform: uppercase;
            color: getColors('orange-color');
            margin-bottom: 32px;
                @media (min-width: 768px) {
                    font-size: 24px;
                    line-height: 1.17;
                    margin-bottom:50px;
                }
                &--isloved{
                    color: black;
                }
            }
            &__btn{
                @include btn(getColors('background-color'), getColors('black-color'), 100px, 12px 28px);
                @include text(14px, 600, 0.82, 0, $text-align:center);
                border: 1px solid getColors('orange-color');
                width: 165px;
                height: 41px;
                margin-top: 32px;
                transition-property:  color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
                @media (min-width: 768px) {
                    padding: 14px 40px;
                    width: 222px;
                    height: 50px;
                    margin-top: 50px;
                    @include text(18px, 600, 0.81, 0, $text-align:center);
                }
                &:hover, &:focus{
                    background-color: getColors('orange-color');
                    color: getColors('white-color');
                    outline: none;
                }
            }
        }
    .reviews-list{
        &__item{
            width: 335px;
            height: 242px;
            @media (min-width: 768px) {
                width: 344px;
            }
            @media (min-width: 1200px) {
                width: 360px;
            }
        }
        &__thumb{
            @include btn(none, none, 15px, 56px 18px 42px);
            border: 1px solid rgba(17, 17, 17, 0.1);
            max-height: 200px;
        position: relative;
        margin-top: 40px;
            @media (min-width: 768px) {
                padding: 56px 16px 42px;
            }
            @media (min-width: 1200px) {
                padding: 56px 24px 42px;
            }
        }
        &__image{
            width: 80px;
            height: 80px;
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__title{
            @include text(18px, 600, 1.33, none, $text-align:center);
            font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        margin-bottom: 24px;
        }
        &__text{
            font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(17, 17, 17, 0.7);
        }
    }